
doctype html
html(class="no-js", lang="ru")

    include ../blocks/head/head
    include ../blocks/header/header
    include ../blocks/section/section
    include ../blocks/text/text

    include ../blocks/carousel/carousel

    include ../blocks/footer/footer
    include ../blocks/bottom/bottom


    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        .page__wrapper
            +header()

            +section-welcome(section.main_1)
                img.section__image(src='%=static=%/images/content/index-img.jpg' alt='')
                +text-index()

            +section-second(section.main_2)
                +carousel-discount()

            +section-main-2(section.main_3)
                +carousel-master()

            +section-main-2(section.main_4)
                +carousel-cosm()



            .page__buffer

        .page__footer
            +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
