mixin footer(data)
	footer.footer
		.footer__in
			.footer__col

				a.footer__logo.logo.logo_small(href="/") Duet family

			.footer__col.footer__col_center

				nav.footer__nav.nav.nav_horizontal
					ul.nav__list
						li.nav__item.is_active
							a.nav__link(href="#link") Главная
						li.nav__item
							a.nav__link(href="#link") Услуги
						li.nav__item
							a.nav__link(href="#link") Цены
						li.nav__item
							a.nav__link(href="#link") Наша косметика
						li.nav__item
							a.nav__link(href="#link") Акции
						li.nav__item
							a.nav__link(href="#link") Мастера
						li.nav__item
							a.nav__link(href="#link") О нас
						li.nav__item
							a.nav__link(href="#link") наш блог
						li.nav__item
							a.nav__link(href="#link") Контакты

				ul.footer__social.social.social_big
					li.social__item.social__item_vk
						a.social__link(href="#link") vk
					li.social__item.social__item_inst
						a.social__link(href="#link") instagram
					li.social__item.social__item_twit
						a.social__link(href="#link") twitter

					li.social__item.social__item_whats
						a.social__link(href="#link") WhatsApp
					li.social__item.social__item_teleg
						a.social__link(href="#link") telegram

				a.footer__button.button.button_second(href="#link") заказать обратный звонок

			.footer__col

				.footer__phones.phones.phones_white
					a.phones__phone(href="tel:88125960905") 8 (812) 596-09-05
					a.phones__phone(href="tel:88125961442") 8 (812) 596-14-42


				.footer__address г. Санкт-Петербург,<br/> ВЫборгское шоссе,<br/> дом 5, к. 1

				.footer__time Время работы:<br/> Пн-сб 10<sup>00</sup> - 21<sup>00</sup><br/> Вс 11<sup>00</sup> - 19<sup>00</sup>
