.footer
	background #757575
	&__in
		padding-top 12px
		padding-bottom 38px
		@extends .in
		font-size 0
	&__col
		display inline-block
		vertical-align top
		width 288px
	&__col_center
		width 368px
		text-align center
	&__logo
		margin auto
	&__nav
		margin-bottom 30px
	&__social
		margin-bottom 32px
		font-size 20px
		text-align right
	&__phones
		margin-bottom 30px
		text-align right
		font-size 20px

	&__address,
	&__time
		margin-bottom 30px
		text-align right
		font-size 20px
		color #ffffff
		font-family $acline
		font-size 20px
		font-weight bold
		line-height 25px
		text-transform uppercase

	&__time
		sup
			font-size 10px

