.pagination
	margin-top 7px
	margin-bottom 7px
	font-size 0
	text-align center
	&__item
		margin-left 48px
		display inline-block
		vertical-align middle
		font-size 31px
		font-weight bold
		text-align left
		&:first-child
			margin-left 0
		&_active
			.pagination__link
				color #8fbc25
		&_next
			margin-left 22px
			font-size 59px
			text-align left
			color #706f6f
			font-weight normal
	&__link
		color #434343

