mixin pagination(data)
	ul.pagination
		li.pagination__item.pagination__item_active
			a.pagination__link(href="#link") 1
		li.pagination__item
			a.pagination__link(href="#link") 2
		li.pagination__item
			a.pagination__link(href="#link") 3
		li.pagination__item.pagination__item_next
			a.pagination__link(href="#link") »
