mixin header(data)
    header.header
        .header__in
            .header__col
                nav.header__nav.nav.nav_left
                    ul.nav__list
                        li.nav__item
                            a.nav__link(href="#link") Главная
                        li.nav__item
                            a.nav__link(href="#link") Услуги
                        li.nav__item
                            a.nav__link(href="#link") Цены
                        li.nav__item
                            a.nav__link(href="#link") наша косметика

                a.header__button.button(href="#button") заказать обратный звонок

            .header__col.header__col_center
                a.header__logo.logo(href="/") Duet family

                .header__phones.phones
                    a.phones__phone(href='tel:88125960905') 8 (812) 596-09-05
                    a.phones__phone(href='tel:88125961442') 8 (812) 596-14-42

                ul.header__social.social
                    li.social__item.social__item_vk
                        a.social__link(href="#link") vk
                    li.social__item.social__item_inst
                        a.social__link(href="#link") instagram
                    li.social__item.social__item_twit
                        a.social__link(href="#link") twitter

                    li.social__item.social__item_whats
                        a.social__link(href="#link") WhatsApp
                    li.social__item.social__item_teleg
                        a.social__link(href="#link") telegram

            .header__col
                nav.header__nav.nav.nav_right
                    ul.nav__list
                        li.nav__item
                            a.nav__link(href="#link") Акции
                        li.nav__item
                            a.nav__link(href="#link") мастера
                        li.nav__item
                            a.nav__link(href="#link") О нас
                        li.nav__item
                            a.nav__link(href="#link") контакты

                a.header__button.button(href="#button") запись в салон

