mixin header(data)
    header.header
        .header__in
            .header__col.header__col_left
                nav.header__nav.nav
                    ul.nav__list
                        li.nav__item
                            a.nav__link(href="#link") Главная
                        li.nav__item
                            a.nav__link(href="#link") Услуги
                        li.nav__item
                            a.nav__link(href="#link") Цены
                        li.nav__item
                            a.nav__link(href="#link") наша косметика

                a.header__button.button(href="#button") заказать обратный звонок

            .header__col.header__col_center
                a.header__logo.logo(href="/") Duet family

                .header__phones.phones
                    .phones__phone 8 (812) 596-09-05
                    .phones__phone 8 (812) 596-09-05

                ul.header__social
                    li.header__item
                        a.header__link(href="#link") vk
                    li.header__item
                        a.header__link(href="#link") instagram
                    li.header__item
                        a.header__link(href="#link") twitter
                    li.header__item
                        a.header__link(href="#link") WhatsApp
                    li.header__item
                        a.header__link(href="#link") telegram

            .header__col.header__col_right
                nav.header__nav.nav
                    ul.nav__list
                        li.nav__item
                            a.nav__link(href="#link") Акции
                        li.nav__item
                            a.nav__link(href="#link") мастера
                        li.nav__item
                            a.nav__link(href="#link") О нас
                        li.nav__item
                            a.nav__link(href="#link") контакты

                a.header__button.button(href="#button") заказать обратный звонок

