mixin articles-list(data)
	.articles-list
		.articles-list__item
			.articles-list__w
				.articles-list__image
					img(src="%=static=%images/content/art-1.jpg", alt="")
				.articles-list__caption
					.articles-list__title статья
					.articles-list__date 05.06.2017
			a.articles-list__link.button(href="#link") подробнее >>

		.articles-list__item
			.articles-list__w
				.articles-list__image
					img(src="%=static=%images/content/art-2.jpg", alt="")
				.articles-list__caption
					.articles-list__title статья
					.articles-list__date 05.06.2017
			a.articles-list__link.button(href="#link") подробнее >>


		.articles-list__item
			.articles-list__w
				.articles-list__image
					img(src="%=static=%images/content/art-3.jpg", alt="")
				.articles-list__caption
					.articles-list__title статья
					.articles-list__date 05.06.2017

			a.articles-list__link.button(href="#link") подробнее >>

		.articles-list__item
			.articles-list__w
				.articles-list__image
					img(src="%=static=%images/content/art-4.jpg", alt="")
				.articles-list__caption
					.articles-list__title статья
					.articles-list__date 05.06.2017

			a.articles-list__link.button(href="#link") подробнее >>

		.articles-list__item
			.articles-list__w
				.articles-list__image
					img(src="%=static=%images/content/art-5.jpg", alt="")
				.articles-list__caption
					.articles-list__title статья
					.articles-list__date 05.06.2017

			a.articles-list__link.button(href="#link") подробнее >>

		.articles-list__item
			.articles-list__w
				.articles-list__image
					img(src="%=static=%images/content/art-6.jpg", alt="")
				.articles-list__caption
					.articles-list__title статья
					.articles-list__date 05.06.2017

			a.articles-list__link.button(href="#link") подробнее >>


