mixin map(data)
	.map
		.map__row
			.map__address Санкт-Петербург, Выборгское шоссе, дом 5, корпус 1
		.map__row
			.map__phones
				.map__phone 8 (812) 596 09 05
				.map__phone 8 (812) 596 14 42
			.map__time
				.map__time-item <span>Пн-Сб:</span> 10:00 - 21:00
				.map__time-item <span>Вс:</span> 11:00 - 19:00
