.text
    position relative
    float right
    width 476px
    color #434343
    font-size 23px
    font-weight bold
    line-height 25px
    font-variant small-caps
    text-align justify
    letter-spacing tracking(70)
    p
        margin-bottom 44px
        line-height 25px
        &:first-letter
            padding-left 46px

.about-img
    position absolute
    top 48px
    bottom 0
    left 0
    margin-left -200px
    margin-right 36px
    height 584px
