.text
	position relative
	float right
	width 470px
	color #434343
	font-size 23px
	font-weight bold
	line-height 25px
	font-variant small-caps
	text-align justify
	letter-spacing tracking(70)
	text-align center
	p
		margin-bottom 44px
		line-height 25px
		&:first-letter
			padding-left 46px
	blockquote
		margin-bottom 44px
		color #8fbc25
		font-family $acline
		font-weight bold
		text-transform uppercase
		line-height 1.2
.about-img
	position absolute
	top 48px
	bottom 0
	left 0
	margin-left -200px
	margin-right 36px
	height 584px
