include ../discount/discount


mixin text-index(data)
    .text
        p Добро пожаловать в салон красоты Дуэт. Мы рады предложить вам традиционные и инновационные методы в индустрии express-услуг в сфере ногтевого сервиса, а также SPA-ухода. Наши специалисты помогут подчеркнуть вашу индивидуальность элегантной прической или плетением, которые могут быть не только красивыми, но и удобными. Завершить свой образ вы сможете как легким make-up, так и вечерним макияжем.


    +discount-five()
