mixin carousel-discount(data)
	ul.carousel.carousel_discount
		li.carousel__item
			a.carousel__link(href="#link")
				img(src="%=static=%images/content/action-1.png", alt="")
		li.carousel__item
			a.carousel__link(href="#link")
				img(src="%=static=%images/content/action-2.png", alt="")
		li.carousel__item
			a.carousel__link(href="#link")
				img(src="%=static=%images/content/action-1.png", alt="")
		li.carousel__item
			a.carousel__link(href="#link")
				img(src="%=static=%images/content/action-2.png", alt="")


mixin carousel-master(data)
	ul.carousel.carousel_masters
		li.carousel__item
			a.carousel__link(href="#link")
				img(src="%=static=%images/content/master-1.jpg", alt="")
				.carousel__capture
					.carousel__item-title Румянцева Ирина
					.carousel__item-note мастер маникюра
		li.carousel__item
			a.carousel__link(href="#link")
				img(src="%=static=%images/content/master-2.jpg", alt="")
				.carousel__capture
					.carousel__item-title Кулигина Екатерина
					.carousel__item-note парикмахер
		li.carousel__item
			a.carousel__link(href="#link")
				img(src="%=static=%images/content/master-3.jpg", alt="")
				.carousel__capture
					.carousel__item-title Жуковская Наталья
					.carousel__item-note мастер ногтевого сервиса
		li.carousel__item
			a.carousel__link(href="#link")
				img(src="%=static=%images/content/master-1.jpg", alt="")
				.carousel__capture
					.carousel__item-title Румянцева Ирина
					.carousel__item-note мастер маникюра
		li.carousel__item
			a.carousel__link(href="#link")
				img(src="%=static=%images/content/master-2.jpg", alt="")
				.carousel__capture
					.carousel__item-title Кулигина Екатерина
					.carousel__item-note парикмахер
		li.carousel__item
			a.carousel__link(href="#link")
				img(src="%=static=%images/content/master-3.jpg", alt="")
				.carousel__capture
					.carousel__item-title Жуковская Наталья
					.carousel__item-note мастер ногтевого сервиса


mixin carousel-cosm(data)
	ul.carousel.carousel_cosmetics
		li.carousel__item
			a.carousel__link(href="#link")
				img(src="%=static=%images/content/cosm-1.png", alt="")
		li.carousel__item
			a.carousel__link(href="#link")
				img(src="%=static=%images/content/cosm-2.png", alt="")
		li.carousel__item
			a.carousel__link(href="#link")
				img(src="%=static=%images/content/cosm-3.png", alt="")
		li.carousel__item
			a.carousel__link(href="#link")
				img(src="%=static=%images/content/cosm-1.png", alt="")
		li.carousel__item
			a.carousel__link(href="#link")
				img(src="%=static=%images/content/cosm-2.png", alt="")
		li.carousel__item
			a.carousel__link(href="#link")
				img(src="%=static=%images/content/cosm-3.png", alt="")
